In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = {
    "name": ["rohan", "harsh", "atharv", "om"],
    "age": [27, 26, 24, 21]
}

df = pd.DataFrame(data)
df

     name  age
0   rohan   27
1   harsh   26
2  atharv   24
3      om   21